body {
  font-family: arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #424242;
  margin: 0 auto;
  padding: 0px;
  transition: all .4s;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
/*-------------------------------------------------------*/
.Title {
  -webkit-text-fill-color: #00FF33;
  margin: 0%;
  background-image: url(Imagens/ShellScript.jpg);
  background-size: 100%;
  opacity: 90%;
  height: 80px;
  text-align: center;
}
.Title a{
  -webkit-text-fill-color: #00FF33;
}
.Title a:hover {
  -webkit-text-fill-color: #FF4F00;
  text-decoration: none;
}
.Title h3 {
  -webkit-text-fill-color: black;
}
.Title a:hover h3{
  -webkit-text-fill-color: #FF4F00;
}
/*-------------------------------------------------------*/
.Menubar {
  -webkit-text-fill-color: #FFFFFF;
  font-family: arial, sans-serif;
  text-align: center;
  background-color: rgb(37, 37, 37);
}
.Menubar li{
  padding: 10px;
  display: inline-block;
}
.Menubar a:visited{
  -webkit-text-fill-color: #FFFFFF;
}
.Menubar a:hover {
  -webkit-text-fill-color: #00FF33;
  text-decoration: none;
}
/*-------------------------------------------------------*/
.CorpoMain {
  -webkit-text-fill-color: #FFFFFF;
}
.CorpoMain a:visited {
  -webkit-text-fill-color: #FFFFFF;
}
.CorpoMain a:hover {
  -webkit-text-fill-color: #00FF33;
}
.CorpoMain li{
  list-style: none;
}
/*-------------------------------------------------------*/
.abasmenu {
  background-color: rgb(37, 37, 37);
  padding: 5px;
}
/*-------------------------------------------------------*/
.BotaoDownload a {
  display:inline-block;
  opacity: 60%;
}
.BotaoDownload img {
  margin: 0px;
  height: 60px;
}
.BotaoDownload a:hover {
  opacity: 100%;
}
/*-------------------------------------------------------*/
.imgesquerda {
  align-items: left;
}
/*-------------------------------------------------------*/
.Textoalerta {
  -webkit-text-fill-color: rgb(255, 41, 41);
}
#verdeclaro {
  -webkit-text-fill-color: rgb(141, 255, 164);
}
.Textodestaque {
  -webkit-text-fill-color: rgb(141, 255, 164);
}
