body {
  height: 100%;
  width: 100%;
  background-color: #424242
}
.BordaMain {
  -webkit-text-fill-color: #00FF33;
  margin: 0%;
  background-image: url(Imagens/ShellScript.jpg);
  background-size: 100%;
  /*background-color: rgb(39, 39, 39);*/
  opacity: 90%;
  height: 80px;
  text-align: center;
}
.CorpoMain {
  -webkit-text-fill-color: #00FF33;
}
